# https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings
# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
# no need to list out fully.
*.h text
*.c text
*.cxx text
*.cpp text
*.txt text
*.md text


# Declare files that will always have CRLF line endings on checkout.
*.rc text eol=crlf
*.bat text eol=crlf

# Denote all files that are truly binary and should not be modified.
# no need to list out fully.
*.ico binary
*.lib binary
*.dll binary
*.exe binary

